@use 'variables';

.mail-icon { 
width: 50px;
padding-bottom: 8px;
}

.phone-icon{
width: 55px;
}
.adress-icon{
width: 40px;
}


footer P{
color: variables.$text-color2;
}

footer{
background-color: variables.$primary-color;
text-align: center;
padding: 20px;
margin-top: 140px;
}

.condetesro{
font-size: 24px;
}


.row-gap-footer{
row-gap: 24px;
margin: 0 20px;
}

.container-footer{
padding: 0;
max-width: 1000px;
}

.container-footer img{
margin-bottom: 14px;
}

.condetesro{
margin-bottom: 30px;
}
.condetesro::after{
content: ""; 
height: 1px;
display: block;
width: 85%;
background-color: variables.$text-color2;
margin: 10px auto 0;
}

.ogsoft{
margin: 30px 0 0 0;
}

.ogsoft::before{
content: ""; 
height: 1px;
display: block;
width: 85%;
background-color: variables.$text-color2;
margin: 0 auto 10px;
}