$primary-color: #009999;  // + border color 
$border-color: #727272;
$text-color: #2B383D;  
$text-color2: #ffffff;
$box-shadow: rgba(103, 101, 101, 0.39) 4px 4px 60px;
$small-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 5px;
$background1: rgba(0, 153, 153, 0.2); 
$background2: rgba(226, 226, 226, 0.61);
$box-background: #F9F6F6;   